.header-navi {
    width:60%;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    
}

.header-logo {
    height:52px;
    width:125px;
    position:absolute;
    padding-left:4px;
    background-image: url('../images/ozkiwi.jpg');
    background-size:cover;

    img {
        display:inline-block;
        padding:2px;
    }
}

.header-banner {
    
    width:auto;
    height:500px;
    padding-top:15px;
    border-bottom: 2px solid orange;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position:center bottom;
    color:white;
    font-size:20px;

    .top-left {
        
        margin-left:20%;
        margin-top: 5%;
    }

    .bottom-right {
        
        float:right;
        margin-right:30%;
        margin-top:12%;
    }

    h3 {
        font-size:34px;
    }
}

.navi-items {
    float:right;
    margin-top:15px;

    li {
        display:inline-block;
        text-transform: uppercase;
        font-weight:600;
        font-size: 10px;
        padding: 15px 8px;
    }
}

.float-clear {
    clear:both;
}