.header-navi {
    max-width:1024px;
    height:60px;
    margin-left:auto;
    margin-right:auto;
    
}

.header-logo {
    height:52px;
    width:125px;
    position:absolute;
    background-image: url('../images/ozkiwi.jpg');
    background-size:cover;

    img {
        display:inline-block;
        padding:2px;
    }
}

.navi-items {
    float:right;
    margin-top:15px;

    li {
        display:inline-block;
        text-transform: uppercase;
        font-weight:600;
        font-size: 10px;
        padding: 15px 8px;
    }
}

.float-clear {
    clear:both;
}