// Mixin Imports
@import "_lib/mixins/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: #3498db;
$color-2: white;

// Core Import
@import "_lib/typography";

// View Imports
@import "sections/header";
@import "sections/footer";
@import "pages/home";


// Your SCSS goes in the scss files for the specific pages located in the imports defined above
// e.g. your header code goes in sections/header

html {
    padding: 0;
    margin: 0;
}


.header-banner {
    width:auto;
    height:500px;
    padding-top:15px;
    border-bottom: 2px solid orange;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    position:center;
}

.content-container {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    margin-bottom:200px;
}

h1 {
    font-size:24px
}

h2 {
    font-size:14px;
}

.content {
    float:left;
    width:60%;
    padding-top:40px;
    text-align: left;
}

.AusNZ-coa {
    background-image: url('../images/australianz.png');
    background-size: cover;
    height:100%;
    float:right;
    
}

.front-page-tab-view {
     li {
         display: inline-block;
     }

     a {
         //font styles
         .active {
             //style if the item is active
         }
     }
}