// Mixin Imports
@import "lib/mappy";
//
// Mappy usage: @include mappy-bp(1000px) { rules : here; }


// Variables  
$page-width: 1050px;
$tablet-width: 600px;

$color-1: white;

// Core Import
@import "typography";

// View Imports
//@import "home";


// Your SCSS goes below here
html {
    padding: 0;
    margin: 0;
}

.header-navi {
    width:70%;
    height:60px;
    margin-left:auto;
    margin-right:auto;
}

.navi-items {
    float:right;
    

    li {
        display:inline-block;
        text-transform: uppercase;
        font-weight:600;
        font-size: 14px;
        padding: 15px 10px;
    }
}