.main-article {
    float:left;
    width:calc(93% - 20em);
    padding-top:40px;
    text-align: left;
}

.AusNZ-coa {
    float:right;
    background-image: url('../images/australianz.png');
    background-size: cover;
    height: 15em;
    width: 20em;       
}

.front-page-tab-view {
    width:$main-width;
    margin-left:auto;
    margin-right:auto;
    

    
     li {
         display: inline-block;
         padding: 0 15px 15px 15px;
         border-bottom:solid 2px gray;
         

     }

     a {
         font-size:20px;
         text-decoration:none;
         color:gray;
         
         

         .active {
             //style if the item is active
             color:#363636;
             border-bottom:solid 2px orange;
         }
     }
}

.news-dock {
    width:$main-width;
    margin-left:auto;
    margin-right:auto;
    
    .news-item {
        list-style-type:none;
        margin-top:20px;
    }

    .news-img {
        display:inline-block;
        background-image: url('../images/1.png');
        background-size: cover;
        width:30em;
        height:15em;
    }

    .news-item-text-content {
        display:inline-block;
        vertical-align:top;
        padding:15px;

        h6 {
            color:teal;
            font-size: 14px;
            font-weight: 600;
            margin-top:10px;
            margin-bottom:10px;
        }

        p {
            color:gray;
            font-size: 16px;
            margin-bottom: 20px;
        }

        span {
            border: 1px lightgray solid;
            padding: 10px;
        }
        
    }

    .cont-reading {
        text-transform:uppercase;
        color:#363636;
    }
}